$main-dark-green: #00ad6a;
$green: #1fe374;
$light-gray: #d6dae5;
$gray: #83858a;
$dark-gray: #464951;
$light-green: #eafaf1;
$black: #080c16;
$white: #fcfcfc;
$green-gradient: linear-gradient(90deg, $main-dark-green, $green);
