@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
:root .green-text {
  color: #00ad6a;
}
:root .gray-text {
  color: #83858a;
}
:root .dark-gray-text {
  color: #464951;
}
:root .black-text {
  color: #080c16;
}
:root .white-text {
  color: #fcfcfc;
}
:root .bold {
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background-color: #eafaf1;
}

header {
  padding: 1em 1.5em 0.75em;
  border-bottom: 1px solid #d6dae5;
  background-color: #fcfcfc;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
nav .hamburger {
  display: block;
  position: absolute;
  right: 0;
}
nav .hamburger span {
  font-size: 2.5rem;
}
nav .hamburger:hover {
  color: #1fe374;
}

#nav-links {
  display: none;
  list-style-type: none;
  padding: 1em 1.5em 0.75em;
}
#nav-links a {
  display: block;
  text-decoration: none;
  font-size: 2.25rem;
}
#nav-links a:hover {
  color: #080c16;
}
#nav-links .sign-up {
  width: 30%;
  padding: 1rem 1rem;
  margin-top: 1rem;
  background: linear-gradient(90deg, #00ad6a, #1fe374);
}

.sign-up {
  text-align: center;
  font-size: 1.1rem;
  color: #080c16;
}

main {
  font-size: 1.125rem;
  padding: 0 1.5rem;
  margin-top: 1.8rem;
}
main .title {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 3rem;
  letter-spacing: -2px;
}
main .ls-1px {
  letter-spacing: 1px;
}
main #pricelist {
  margin-top: 1rem;
}
main #pricelist .plan {
  background-color: #fcfcfc;
  padding: 1rem;
}
main #pricelist .plan h1 {
  line-height: 1;
  font-size: 2.25rem;
  letter-spacing: -2px;
}
main #pricelist .plan .plan-benefits ul {
  list-style-type: none;
}
main #pricelist #basic-plan {
  padding: 0 0.5rem;
  margin-bottom: 2rem;
}
main #pricelist #basic-plan h3 {
  line-height: 1;
  margin-bottom: 1rem;
}
main #pricelist #basic-plan li {
  margin: 0 0 0 2rem;
}
main #pricelist #basic-plan li:last-of-type {
  margin-bottom: 1rem;
}
main #pricelist #basic-plan li,
main #pricelist #basic-plan p {
  font-size: 1rem;
}
main #pricelist .price {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
main #pricelist .recommended {
  background-color: #00ad6a;
  text-align: center;
  border-radius: 0.5rem 0.5rem 0 0;
  font-size: 0.75rem;
  padding: 0.5rem 0;
  letter-spacing: 1px;
}
main #pricelist #business-plan {
  border: 1px solid #00ad6a;
}
main #pricelist #business-plan h1 {
  margin-bottom: 0.2rem;
}
main #pricelist #business-plan .plan-benefits {
  font-size: 1rem;
  margin: 2rem 0;
}
main #pricelist #business-plan li {
  padding: 0 0.5em;
  margin-bottom: 1rem;
  line-height: 1.2;
}
main #pricelist #business-plan li::marker {
  content: "✔";
  color: #00ad6a;
  font-size: 0.75rem;
}
main #pricelist #business-plan .sign-up {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.3rem;
  background-color: #1fe374;
}

.disappearance-animation {
  animation-name: smoothDisappearance;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

.appearacnce-animation {
  animation-name: smoothAppearance;
  animation-duration: 400ms;
}

@keyframes smoothDisappearance {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes smoothAppearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */