@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
@import "color.scss";

:root {
  .green-text {
    color: $main-dark-green;
  }

  .gray-text {
    color: $gray;
  }

  .dark-gray-text {
    color: $dark-gray;
  }

  .black-text {
    color: $black;
  }

  .white-text {
    color: $white;
  }

  .regular {
    font-weight: 400;
  }

  .bold {
    font-weight: 700;
  }

  .black-bg {
    background-color: $black;
  }

  .white-bg {
    background-color: $white;
  }

  .light-gray-bg {
    background-color: #f2f3f3;
  }

  .center-text {
    text-align: center;
  }

  .center-img {
    display: block;
    margin: 0 auto;
  }

  .light-gray-border {
    border: 1px solid $light-gray;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background-color: $light-green;
}

header {
  padding: 1em 1.5em 0.75em;
  border-bottom: 1px solid $light-gray;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;

  // Style hamburger menu
  .hamburger {
    display: block;
    position: absolute;
    right: 0;

    span {
      font-size: 2.5rem;
    }
  }

  .hamburger:hover {
    color: $green;
  }
}

#nav-links {
  display: none;
  list-style-type: none;
  padding: 1em 1.5em 0.75em;

  a {
    display: block;

    text-decoration: none;
    font-size: 2.25rem;
  }

  a:hover {
    color: $black;
  }

  .sign-up {
    width: 30%;
    padding: 1rem 1rem;
    margin-top: 1rem;
  }
}

.sign-up {
  text-align: center;
  font-size: 1.1rem;
  color: $black;

  background: $green-gradient;
}

main {
  font-size: 1.125rem;
  padding: 0 1.5rem;
  margin-top: 1.8rem;

  .title {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 3rem;
    letter-spacing: -2px;
  }

  .ls-1px {
    letter-spacing: 1px;
  }

  #pricelist {
    margin-top: 1rem;
    margin-bottom: 5rem;

    .plan {
      padding: 1rem;

      h1 {
        line-height: 1;
        font-size: 2.25rem;
        letter-spacing: -2px;
      }

      .plan-benefits {
        ul {
          list-style-type: none;
        }
      }
    }

    #basic-plan {
      padding: 0 0.5rem;
      margin-bottom: 2rem;

      h3 {
        line-height: 1;
        margin-bottom: 1rem;
      }

      li {
        margin: 0 0 0 2rem;
      }

      li:last-of-type {
        margin-bottom: 1rem;
      }

      li,
      p {
        font-size: 1rem;
      }
    }

    .price {
      font-size: 1.25rem;

      margin-bottom: 2rem;
    }

    .recommended {
      background-color: $main-dark-green;
      text-align: center;
      border-radius: 0.5rem 0.5rem 0 0;
      font-size: 0.75rem;
      padding: 0.5rem 0;
      letter-spacing: 1px;
    }

    #business-plan {
      border: 1px solid $main-dark-green;
      margin-bottom: 2rem;

      h1 {
        margin-bottom: 0.2rem;
      }
    }

    #extra-features {
      div:first-of-type {
        p {
          font-size: 0.9rem;
          padding: 1rem;
        }
      }
    }
  }

  #quote {
    margin-bottom: 3rem;

    img {
      display: block;
      margin: 0 auto 1rem;

      width: 25%;
    }

    p {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    h5 {
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }
}

.plan-benefits {
  font-size: 1rem;
  margin: 2rem 0;
}

.check-mark-li {
  li {
    padding: 0 0.5em;
    margin-bottom: 1rem;
    line-height: 1.2;
  }

  li::marker {
    content: "✔";
    color: $main-dark-green;
    font-size: 0.75rem;
  }
}

.sign-up {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 1rem;

  font-weight: 600;
  font-size: 1.3rem;
  background-color: $green;
}

#FAQ {
  margin: 0 -1.5em;
  padding: 2em 1.5em 0;

  h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }
}
.faq-block {
  margin-bottom: 2.75rem;

  h4 {
    font-size: 1.25rem;
    line-height: 1.2;
  }
}

footer {
  padding-top: 2rem;

  .logo-footer {
    width: 8rem;
  }

  .sign-up {
    padding: 1rem 2rem;
    display: block;
    margin: 1.5rem auto 0;

    background: $green-gradient;
    font-size: 1rem;
    border: 0;
  }
}

#nav-footer {
  display: flex;
  justify-content: center;
}

.footer-column {
  list-style-type: none;
}

.disappearance-animation {
  animation-name: smoothDisappearance;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

.appearacnce-animation {
  animation-name: smoothAppearance;
  animation-duration: 400ms;
}

@keyframes smoothDisappearance {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes smoothAppearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
